In [10]:
import pandas as pd
import numpy as np

# we read the attribute names and store them in the columns var
with open("data/communities.names") as f: 
    columns = [l.split(" ")[1] for l in f.readlines() if l.startswith("@attribute")]
# we read the data file and store it in the dataframe
df = pd.read_csv('data/communities.data', header=None, names=columns, na_values='?')
# dropping first 5 columns
df = df.drop(columns=["state", "county", "community", "communityname", "fold"]) 

# Dropping columns with NaN values
df.dropna(axis=1, inplace=True)

# bringing last column to the first spot 
df = df[[df.columns[-1]] + list(df.columns[:-1])]

df.head()

,ViolentCrimesPerPop,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,agePct12t29,agePct16t24,...,NumStreet,PctForeignBorn,PctBornSameState,PctSameHouse85,PctSameCity85,PctSameState85,LandArea,PopDens,PctUsePubTrans,LemasPctOfficDrugUn
0,0.20,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,0.29,...,0.0,0.12,0.42,0.50,0.51,0.64,0.12,0.26,0.20,0.32
1,0.67,0.00,0.16,0.12,0.74,0.45,0.07,0.26,0.59,0.35,...,0.0,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00
2,0.43,0.00,0.42,0.49,0.56,0.17,0.04,0.39,0.47,0.28,...,0.0,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00
3,0.12,0.04,0.77,1.00,0.08,0.12,0.10,0.51,0.50,0.34,...,0.0,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00
4,0.03,0.01,0.55,0.02,0.95,0.09,0.05,0.38,0.38,0.23,...,0.0,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00

In [ ]:
# Implement the cross-validation method and the leave-one-out method.